body {
    font-size: 12px;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}
a {
}
label {
    display: block;
}
h1,h2,h3,h4,h5 {
    font-weight: bold;
}
textarea {
    width: 300px;
    height: 70px;
}
.icon {
    height: 1em;
    width: auto;
    padding: 0; margin: 0;
}
.progress {
    margin-left: .3em;
    margin-bottom: .1em;
}
.strong {
    font-weight: bold;
}
.inline {
    display: inline;
}
.block {display: block;}
.rightAlign {
    text-align: right;
}
.header {
    
}
p.error {
    background: none;
    border: none;
    color: #cc0000;
    padding: 0;
}
p.success {
    background: none;
    border: none;
    color: #00aa00;
    padding: 0;
}
ul.dockets, ul.tasks {
    list-style: none;
    padding: 0;
}
ul.dockets li, ul.tasks li {
    padding: 0; margin: 0;
}
ul.dockets li a {
    font-size: 1.1em;

}
ul#pending_tasks {
    font-size: 1.1em;
}
ul#completed_tasks {
    font-size: .9em;
}

/* RGBA Buttons */
input[type=button], input[type=submit] {
    padding: .2em .9em;
}
